@media screen and ( min-width:1243px) {
	body #S_indexBody {
		font-size:calc(47.8906px + (100vw - 1243px) / 25.4);
	}
}
.mix2-index .section h1, .mix2-index .section h2, 
.mix2-index .section h3, .mix2-index .section p, 
.mix2-index .section ul, .mix2-index .section li, 
.mix2-index .section dl, .mix2-index .section dt, 
.mix2-index .section dd, .mix2-index .section li, 
.mix2-index .section a {
    font-size: 1em;
}

.mix2 h1, .mix2 h2, .mix2 h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.mix2 p, .mix2 ul, .mix2 li, .mix2 dl, .mix2 dt, .mix2 dd {
    margin: 0;
    padding: 0;
}
.mix2 strong {
	font-weight: normal;
}

.mix2-index {
	font-size: 47.8906px;
	width: 100%;
	background: #0e0e0e;
	font-family: "F01e0c","Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
.mix2-index .section .container {
    width: 100%;
}
.mix2-index .section-header {
	height: 14em;
	background: none center top no-repeat;
	background-size: cover;
	text-align: center;
	overflow: hidden;
}
.mix2-index .section-header .container {
    position: relative;
    width: 100%;
    height: 100%;
}
.mix2-index .section-header .slide-outer {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.mix2-index .section-header .slide-outer .ui-wrapper{
	height: 100% !important;

}
.mix2-index .section-header .slide-outer .ui-wrapper .ui-viewport {
    height: 100% !important;
}
.ui-wrapper {
	position: relative;
	margin: 0;
	padding: 0;
}
.ui-wrapper .ui-viewport {
    -webkit-transform: translatez(0);
    -ms-transform: translatez(0);
    transform: translatez(0);
    width: 100%;overflow: hidden;position: relative;height: 100%;
}
.mix2-index .section-header .slide-outer .slide {
    height: 100%;
    width: auto;
    position: relative;
}
.mix2-index .section-header .slide-outer .slide .slider-active {
	display: block;
	opacity: 1;
	filter: alpha(opacity=100)\9;
}
.mix2-index .section-header.preload .slide-outer .slide .slider-01 {
    background-image: url(../images/mix2/index-header-bg-01.jpg);
}
.mix2-index .section-header.preload .slide-outer .slide .slider-02 {
    background-image: url(../images/mix2/index-header-bg-02.jpg);
}
.mix2-index .section-header .slide .slider {
	height: 100%;
	background: center top no-repeat;
	background-size: cover;
	display: none;
	opacity: 0;
	float: none; list-style: none; position: absolute; width: 1349px;
    -webkit-transition: opacity .4s linear;
    -o-transition: opacity .4s linear;
    transition: opacity .4s linear;
}
.ui-wrapper .ui-pager, .ui-wrapper .ui-controls-auto {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    z-index: 999;
}

.mix2-index .section-header .slide-outer .ui-wrapper .ui-pager {
	bottom: .64em;
	line-height: .18em;
	font-size: inherit;
}
.ui-wrapper .ui-pager .ui-pager-item, 
.ui-wrapper .ui-controls-auto .ui-controls-auto-item {
    display: inline-block;
}
.ui-wrapper .ui-pager {
    font-size: 12px;
    text-align: center;
    color: #666;
}
.ui-wrapper .ui-pager.ui-default-pager a {
    display: block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    border: 2px solid #fff;
    border-color: rgba(255,255,255,0.3);
    border-radius: 10px;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
    _zoom: 1;
    background: #f5f5f5;
    background: rgba(0,0,0,0.4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#66000000", endColorstr="#66000000")\9;
    -webkit-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
}
.mix2-index .section-header .slide-outer .ui-wrapper .ui-pager a {
	display: block;
	width: .1em;
	height: .1em;
	margin: 0 .1em;
	border: none;
	border-radius: 50%;
	background: #bdbdbd;
}

.mix2-index .section-header .slide-outer .ui-wrapper .ui-pager a:hover,
.mix2-index .section-header .slide-outer .ui-wrapper .ui-pager a.active {
    background: #555;
}
.ui-wrapper .ui-pager.ui-default-pager a:hover,
.ui-wrapper .ui-pager.ui-default-pager a.active {
    background: #fff;
    background: rgba(255,255,255,0.4);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#66ffffff", endColorstr="#66ffffff")\9;
    border-color: #757575;
    border-color: rgba(0,0,0,0.4)
}

.mix2-index .section-header .title {
    position: relative;
    color: #fff;
    -webkit-transition: color 1s;
    transition: color 1s;
}
.mix2-index .section-header .title.title-style-01 {
    color: #fff;
}
.mix2-index .section-header .title.title-style-02 {
    color: #0f0f0f;
}
.mix2-index .section-header.preload .title h1 .text, .mix2-index .section-header .title-style-01 h1 .text {
    background-image: url(../images/mix2/index-header-title1-01.png);
}

.mix2-index .section-header.preload .title-style-02 h1 .text {
    background-image: url(../images/mix2/index-header-title1-02.png);
}

.mix2-index .section-header .title h1 {
	width: 4.36em;
	height: .75em;
	margin-left: 1.82em;
	margin-top: 5.26em;
}
.mix2-index .section-header .title h1 .text {
	width: 100%;
	height: 100%;
	text-indent: -9999px;
	/*background: none center top no-repeat;*/
	background-size: contain;
	-webkit-transition: background-image 1s;
	-o-transition: background-image 1s;
	transition: background-image 1s;
}
.mix2-index .section .container .text {
    display: block;
}

.mix2-index .section-header.preload .title h2 .text, .mi2-index .section-header .title-style-01 h2 .text {
	background-image: url(../images/mix2/index-header-title2-01.png);
}
.mix2-index .section-header.preload .title-style-02 h2 .text {
	background-image: url(../images/mix2/index-header-title2-02.png);
}
.mix2-index .section-header .title h2 {
	width: 22.24em;
	height: 2.18em;
	margin-left: 1.7em;
	margin-top: .28em;
}
.mix2-index .section-header .title h2 .text {
	width: 100%;
	height: 100%;
	background-size: contain;
	text-indent: -9999px;
	-webkit-transition: background-image 1s;
	-o-transition: background-image 1s;
	transition: background-image 1s;
}


.mix2-index .section-header .title p .text {
    font-size: .36em;
}

.mix2-index .section-header .title .price .text {
    display: inline-block;
    font-size: .36em;
}
.mix2-index .section-header .title .price i {
    font-style: normal;
}
.mix2-index .section-header .title p {
    float: left;
    line-height: .6em;
    margin-left: 1.7em;
    margin-top: .2em;
}

.mix2-index .section-header .title .price {
	float: right;
	line-height: .4em;
	margin-right: 1.66em;
	margin-top: .2em;
	text-align: right;
}

.mix2-index .section .phantom-item-1, .mix2-index .section .phantom-item-2, .mix2-index .section .phantom-item-3, .mix2-index .section .phantom-item-4 {
    -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    transition: opacity 0.8s, transform 0.8s;
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}
.mix2-index .section .phantom-item-2 {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.mix2-index .section .phantom-item-3 {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.mix2-index .section .phantom-item-4 {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
.mix2-index .section.is-visible .phantom-item-1, .mix2-index .section.is-visible .phantom-item-2, .mix2-index .section.is-visible .phantom-item-3, .mix2-index .section.is-visible .phantom-item-4 {
    opacity: 1;
    filter: alpha(opacity=100)\9;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

/*section-awrad*/
.mix2-index .section-award.preload {
	background-image: url(../images/mix2/index-award-bg.jpg);
}
.mix2-index .section-award {
	height: 6.88em;
	background-size: cover;
	color: #fff;
	text-align: center;
}
.mix2-index .section-award .award {
	position: relative;
	width: 20.49em;
	margin: 1.32em auto 0;
}
.mix2-index .section-award .award dl:first-child {
    border-left: none;
}
.mix2-index .section-award .award dl {
	position: relative;
	float: left;
	width: 6.8em;
	height: 3.92em;
	border-left: .03em solid #272727;
}

.mix2-index .section-award .award dl dt strong {
    display: block;
    line-height: .8em;
    margin-top: -.2em;
}
.mix2-index .section-award .award dl dt .text {
    font-size: .32em;
}
.mix2-index .section-award .award dl dt {
    line-height: .6em;
}
.mix2-index .section-award .award dl dt strong .text {
	font-size: .5em;
}
.mix2-index .section-award .award dl dd .text {
    font-size: .24em;
}
.mix2-index .section-award .award dl dd {
    line-height: .42em;
    margin-top: .16em;
    color: #9a9a9a;
}
.mix2-index .section-award .award dl dd .award-logo.award-logo-1 {
     background-position: center top; 
}
.mix2-index .section-award .award dl dd .award-logo.award-logo-2 {
     background-position: center center; 
}
.mix2-index .section-award .award dl dd .award-logo.award-logo-3 {
     background-position: center bottom; 
}
.mix2-index .section-award.preload .award dl dd .award-logo {
    background-image: url(../images/mix2/index-award-logo.png);
    background-repeat: no-repeat;
}
.mix2-index .section-award.preload .award dl dd .award-logo {
	height: 1.4em;
	margin-top: .5em;
	background-size: auto 4.2em;
}
/*section-dialog*/
.mix2-index .section-dialog.preload {
	background-image: url(../images/mix2/index-dialog-bg.jpg);
	background-repeat: no-repeat;
}
.mix2-index .section-dialog {
	background-position: center top;
	background-size: cover;
	text-align: center;
	color: #fff;
	height: 14.4em;
}
.mix2-index .section-dialog.preload .play-btn {
    background-image: url(../images/mix2/index-dialog-btn.png);
}
.mix2-index .section-dialog .play-btn {
    display: block;
    width: .87em;
    height: 1em;
    margin: .51em auto 0;
    background: none center top no-repeat;
    background-size: contain;
}
.mix2-index .section-dialog h2 .text {
    font-size: .72em;
}
.mix2-index .section-dialog h2 {
    line-height: .97em;
    padding-top: 5.51em;
}
.mix2-index .section-dialog p .text {
    font-size: .35em;
}
.mix2-index .section-dialog p {
    line-height: .5em;
    margin-top: .36em;
}
/*section-screen*/
.mix2-index .section-screen.preload {
	background-image: url(../images/mix2/index-screen-bg-02.jpg);
}
.mix2-index .section-screen {
    height: 18.4em;
    background: none center top no-repeat;
    background-size: cover;
    color: #131313;
    text-align: center;
}
.mix2-index .section-screen h3 {
    line-height: .6em;
    padding-top: 1.2em;
}
.mix2-index .section-screen h3 .text {
    font-size: .5em;
}
.mix2-index .section-screen h2 .text {
    font-size: 1.4em;
}
.mix2-index .section-screen h2 {
    line-height: 1.74em;
}
.mix2-index .section-screen p .text {
    font-size: .26em;
}
.mix2-index .section-screen p {
    line-height: .48em;
    margin-top: .1em;
}
/*fragment-screen*/
.mix2-index .fragment-screen.preload {
    background-image: url(../images/mix2/index-screen-fg-bg.jpg);
}
.mix2-index .fragment-screen {
    height: 26.14em;
    background: none center top no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}
.mix2-index .fragment-screen h2 .text {
    font-size: 1.2em;
}
.mix2-index .fragment-screen h2 {
    line-height: 1.4em;
    padding-top: 1.68em;
}
.mix2-index .fragment-screen p {
    line-height: .48em;
    margin-top: .32em;
}
.mix2-index .fragment-screen p .text {
    font-size: .26em;
}
.mix2-index .fragment-screen.preload .screen-phone {
    background-image: url(../images/mix2/index-screen-phone.png?V2);
}
.mix2-index .fragment-screen .screen-phone {
    position: relative;
    width: 10.23em;
    height: 10.84em;
    margin: 1.12em auto 0;
    background: none center top no-repeat;
    background-size: contain;
}
.mix2-index .fragment-screen .screen-phone .phone-tip-1, .mix2-index .fragment-screen .screen-phone .phone-tip-2 {
    position: absolute;
    bottom: 0;
    line-height: .46em;
    color: #ccc;
}
.mix2-index .fragment-screen .screen-phone .phone-tip-1 {
    left: 0;
    width: 4.93em;
}
.mix2-index .fragment-screen .screen-phone .phone-tip-2 {
    right: 0;
    width: 4.88em;
}
.mix2-index .fragment-screen .screen-phone .phone-tip-1 .text, 
.mix2-index .fragment-screen .screen-phone .phone-tip-2 .text {
    font-size: .28em;
}
.mix2-index .fragment-screen h3 .text {
    font-size: .52em;
}
.mix2-index .fragment-screen h3 {
    line-height: .56em;
    padding-top: 1.3em;
}
.mix2-index .fragment-screen ul {
    width: 18em;
    margin: .82em auto 0;
    overflow: auto;
}
.mix2-index .fragment-screen ul li {
    float: left;
    display: inline;
    width: 4.3em;
    height: 3.4em;
    line-height: .36em;
    margin: 0 .1em;
    background: #0f0f0f;
    background: rgba(18,18,18,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc121212", endColorstr="#cc121212")\9;
    border-radius: .12em;
}
.mix2-index .fragment-screen ul li .text {
    font-size: .24em;
}
.mix2-index .fragment-screen.preload ul li .screen-logo {
    background-image: url(../images/mix2/index-screen-icon.png);
}
.mix2-index .fragment-screen ul li .screen-logo.screen-logo-1 {
    background-position: 0em 0;
}
.mix2-index .fragment-screen ul li .screen-logo.screen-logo-2 {
    background-position: -1.9em 0;
}
.mix2-index .fragment-screen ul li .screen-logo.screen-logo-3 {
    background-position: -3.8em 0;
}
.mix2-index .fragment-screen ul li .screen-logo.screen-logo-4 {
    background-position: -5.7em 0;
}
.mix2-index .fragment-screen ul li .screen-logo {
    width: 1.9em;
    height: 1.6em;
    margin: .36em auto .3em;
    background: none no-repeat;
    background-size: auto 100%;
}
/*section-unibody*/
.mix2-index .section-unibody.preload {
    background-image: url(../images/mix2/index-unibody-bg.jpg);
}
.mix2-index .section-unibody {
    height: 17.2em;
    background: #e5e5e8 none center top no-repeat;
    background-size: 100% auto;
    color: #1a1a1a;
    text-align: center;
}
.mix2-index .section-unibody h3 .text {
    font-size: .5em;
}
.mix2-index .section-unibody h3 {
    line-height: .6em;
    padding-top: 11.3em;
}
.mix2-index .section-unibody h2 {
    line-height: 2.32em;
}
.mix2-index .section-unibody h2 .text {
    font-size: 1.4em;
}
.mix2-index .section-unibody p .text {
    font-size: .26em;
}
.mix2-index .section-unibody p {
    line-height: .5em;
    margin-top: .06em;
}
.mix2-index .section-unibody .tip {
    line-height: .36em;
    margin-top: .09em;
    color: #8d8d8d;
}
.mix2-index .section-unibody .tip .text {
    font-size: .26em;
}

/*section-gallery*/
.mix2-index .section-gallery {
    height: 12.8em;
    text-align: center;
}
.mix2-index .section-gallery .container {
    position: relative;
    width: 100%;
    height: 100%;
}
.mix2-index .section-gallery .slide-outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.mix2-index .section-gallery .slide-outer .ui-wrapper {
    height: 100% !important;
}
.mix2-index .section-gallery .slide-outer .ui-wrapper .ui-viewport {
    height: 100% !important;
}
.mix2-index .section-gallery .slide-outer .slide {
    height: 100%;
}
.mix2-index .section-gallery .slide-outer .slide .slider-active {
    display: block;
    opacity: 1;
    filter: alpha(opacity=100)\9;
}
.mix2-index .section-gallery .slide .slider {
    height: 100%;
    background: center top no-repeat;
    background-size: cover;
    float: none;
    list-style: none; 
    position: absolute; 
    width: 1349px;
    opacity: 0;
    -webkit-transition: opacity .4s linear;
    -o-transition: opacity .4s linear;
    transition: opacity .4s linear;
}
.mix2-index .section-gallery .slide-outer .ui-wrapper .ui-pager {
    bottom: 1.06em;
    line-height: .18em;
    font-size: inherit;
}
.mix2-index .section-gallery .slide-outer .ui-wrapper .ui-pager a:hover, 
.mix2-index .section-gallery .slide-outer .ui-wrapper .ui-pager a.active {
    background: #555;
}
.mix2-index .section-gallery .slide-outer .ui-wrapper .ui-pager a {
    display: block;
    width: .1em;
    height: .1em;
    margin: 0 .1em;
    border: none;
    border-radius: 50%;
    background: #bdbdbd;
}
.mix2-index .section-gallery.preload .slide .slider-01 {
    background-image: url(../images/mix2/index-gallery-01.jpg);
}
.mix2-index .section-gallery.preload .slide .slider-02 {
    background-image: url(../images/mix2/index-gallery-02.jpg);
}
.mix2-index .section-gallery.preload .slide .slider-03 {
    background-image: url(../images/mix2/index-gallery-03.jpg);
}

.mix2-index .section-gallery h2 .text {
    font-size: .32em;
}
.mix2-index .section-gallery h2 {
    position: relative;
    top: 10.86em;
    height: .48em;
}
/*section-body*/
.mix2-index .section-body.preload {
    background-image: url(../images/mix2/index-body-bg.jpg);
}
.mix2-index .section-body {
    height: 17.2em;
    background: none center top no-repeat;
    background-size: cover;
    color: #fff;
    text-align: left;
}
.mix2-index .section-body h3 {
    line-height: .6em;
    margin-left: 13.9em;
    padding-top: 10.7em;
}
.mix2-index .section-body h3 .text {
    font-size: .5em;
}
.mix2-index .section-body h2 {
    line-height: 2.3em;
    margin-left: 13.7em;
}
.mix2-index .section-body h2 .text {
    font-size: 1.4em;
}
.mix2-index .section-body p {
    line-height: .44em;
    margin-left: 13.86em;
    margin-top: .06em;
}
.mix2-index .section-body p .text {
    font-size: .26em;
}
/*section-powerful*/
.mix2-index .section-powerful.preload {
    background-image: url(../images/mix2/index-powerful-bg.jpg?V2);
}
.mix2-index .section-powerful {
    height: 17.2em;
    background: none center top no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}
.mix2-index .section-powerful h3 {
    line-height: .6em;
    padding-top: 1.71em;
}
.mix2-index .section-powerful h3 .text {
    font-size: .5em;
}
.mix2-index .section-powerful h2 .text {
    font-size: 1.4em;
}
.mix2-index .section-powerful h2 {
    line-height: 2.2em;
}
.mix2-index .section-powerful p {
    line-height: .5em;
}
.mix2-index .section-powerful p .text {
    font-size: .26em;
}
.mix2-index .section-powerful .tip .text {
    font-size: .22em;
}
.mix2-index .section-powerful .tip {
    line-height: .36em;
    margin-top: .09em;
    color: #727272;
}
/*section-camera*/
.mix2-index .section-camera.preload {
    background-image: url(../images/mix2/index-camera-bg.jpg);
}
.mix2-index .section-camera {
    height: 17.45em;
    background: none center top no-repeat;
    background-size: cover;
    color: #101010;
    text-align: center;
}
.mix2-index .section-camera h3 .text {
    font-size: .5em;
}
.mix2-index .section-camera h2 .text {
    font-size: 1.4em;
}
.mix2-index .section-camera h2 {
    line-height: 2.2em;
}
.mix2-index .section-camera p {
    line-height: .5em;
}
.mix2-index .section-camera p .text {
    font-size: .26em;
}
/*section-sound.*/
.mix2-index .section-sound.preload {
    background-image: url(../images/mix2/index-sound-bg.jpg);
}
.mix2-index .section-sound {
    height: 15.98em;
    background: #010101 none center top no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}
.mix2-index .section-sound h3 {
    line-height: .6em;
    padding-top: 9.64em;
}
.mix2-index .section-sound h3 .text {
    font-size: .5em;
}
.mix2-index .section-sound h2 .text {
    font-size: 1.4em;
}
.mix2-index .section-sound h2 {
    line-height: 2.2em;
}
.mix2-index .section-sound p .text {
    font-size: .26em;
}
.mix2-index .section-sound p {
    line-height: .48em;
    margin-top: .12em;
}
/*section-network*/
.mix2-index .section-network {
    height: 16em;
    background: none center top no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}
.mix2-index .section-network.preload {
    background-image: url(../images/mix2/index-network-bg.jpg);
}
.mix2-index .section-network h3 .text {
    font-size: .5em;
}
.mix2-index .section-network h3 {
    line-height: .6em;
    padding-top: 1.86em;
}
.mix2-index .section-network h2 {
    line-height: 2.1em;
}
.mix2-index .section-network h2 .text {
    font-size: 1.4em;
}
.mix2-index .section-network p {
    line-height: .48em;
    margin-top: .18em;
}
.mix2-index .section-network p .text {
    font-size: .26em;
}
.mix2-index .section-network .feature {
    width: 16.26em;
    margin: 6.7em auto 0;
}
.mix2-index .section-network .feature dl {
    float: left;
    width: 5.39em;
    height: 1.12em;
    border-left: .03em solid #434343;
}
.mix2-index .section-network .feature dl:first-child {
    border-left: none;
}
.mix2-index .section-network .feature dl dt {
    line-height: .6em;
    margin-top: -.06em;
}
.mix2-index .section-network .feature dl dt .text {
    font-size: .56em;
}
.mix2-index .section-network .feature dl dd {
    line-height: .36em;
    margin-top: .2em;
}
.mix2-index .section-network .feature dl dd .text {
    font-size: .28em;
}
/*section-suit*/
.mix2-index .section-suit.preload {
    background-image: url(../images/mix2/index-suit-bg.jpg);
}
.mix2-index .section-suit {
    height: 14.94em;
    background: none center top no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
}
.mix2-index .section-suit h2 {
    line-height: 1.6em;
    padding-top: 10.14em;
}
.mix2-index .section-suit h2 .text {
    font-size: 1em;
}
.mix2-index .section-suit p .text {
    font-size: .26em;
}
.mix2-index .section-suit p {
    line-height: .48em;
}
.mix2-index .section-suit ul {
    line-height: .22em;
    margin-top: .43em;
}
.mix2-index .section-suit ul li {
    display: inline-block;
    padding: 0 .18em;
    border-left: .03em solid #bfbfbf;
    color: #8f8f8f;
    vertical-align: top;
}
.mix2-index .section-suit ul li:first-child {
	border-left: none;
}
.mix2-index .section-suit ul li .text {
    font-size: .24em;
}
/*section-version*/
.mix2-index .section-version {
    height: 20.32em;
    background: #090909;
}
.mix2-index .section-version .version-pic {
    position: relative;
    width: 10.84em;
    height: 8.29em;
    margin: 0 auto;
    padding-top: 1.4em;
}
.mix2-index .section-version .version-pic .pic {
    position: absolute;
    left: 0;
    top: 1.4em;
    width: 10.84em;
    height: 8.29em;
    background: center top no-repeat;
    background-size: contain;
    opacity: 0;
    filter: alpha(opacity=0)\9;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.mix2-index .section-version .version-pic.ver-pb .pic-pb {
    opacity: 1;
    filter: alpha(opacity=100)\9;
}
.mix2-index .section-version .version-pic.ver-b .pic-b {
    opacity: 1;
    filter: alpha(opacity=100)\9;
}
.mix2-index .section-version .version-pic.ver-pw .pic-pw {
    opacity: 1;
    filter: alpha(opacity=100)\9;
}
.mix2-index .section-version.preload .version-pic .pic-b {
    background-image: url(../images/mix2/index-version-b.jpg);
}
.mix2-index .section-version.preload .version-pic .pic-pw {
    background-image: url(../images/mix2/index-version-pw.jpg);
}
.mix2-index .section-version.preload .version-pic .pic-pb {
    background-image: url(../images/mix2/index-version-pb.jpg);
}
.mix2-index .section-version .version-tab {
    width: 10.2em;
    margin: .93em auto 0;
    overflow: hidden;
    zoom: 1;
}
.mix2-index .section-version .version-tab .version-wrap {
    float: left;
    _display: inline;
    width: 4.74em;
    line-height: .82em;
    margin: 0 .18em;
    background: #000;
    border-radius: .4em;
    color: #fff;
}
.mix2-index .section-version .version-tab .version-wrap .tab-title {
    float: left;
    width: 3em;
    padding-left: .42em;
}
.mix2-index .section-version .version-tab .version-wrap .tab-title .text {
    font-size: .26em;
}
.mix2-index .section-version .version-tab .version-wrap .tab-wrap {
    float: left;
    width: 1.24em;
    text-align: center;
}
.mix2-index .section-version .version-tab .version-wrap .tab-wrap .tab.current {
    border-color: #0042ff;
    cursor: default;
}
.mix2-index .section-version .version-tab .version-wrap .tab-wrap .tab.tab-b {
    background: #1f1f1f;
}
.mix2-index .section-version .version-tab .version-wrap .tab-wrap .tab {
    display: inline-block;
    float: left;
    width: .36em;
    height: .36em;
    margin: .2em .2em 0 0;
    border: .03em solid transparent;
    border-radius: 50%;
    vertical-align: top;
    cursor: pointer;
}
.mix2-index .section-version .version-tab .version-wrap .tab-wrap .tab.tab-pb {
    background: #1f1f1f;
}
.mix2-index .section-version .version-tab .version-wrap .tab-wrap .tab.tab-pw {
    background: #bababa;
}
.mix2-index .section-version .feature {
    width: 20.94em;
    margin: 1.18em auto 0;
    padding: .46em 0;
    border-top: .03em solid #202020;
    border-bottom: .03em solid #202020;
    color: #fff;
    text-align: center;
    overflow: auto;
}
.mix2-index .section-version .feature dl:nth-child(1), 
.mix2-index .section-version .feature dl:nth-child(2), 
.mix2-index .section-version .feature dl:nth-child(3), 
.mix2-index .section-version .feature dl:nth-child(4) {
    border-bottom: .03em solid #202020;
}

.mix2-index .section-version .feature dl:nth-child(4n+1) {
    border-left: none;
}
.mix2-index .section-version .feature dl {
    float: left;
    width: 5.2125em;
    height: 2.66em;
    border-left: .03em solid #202020;
}
.mix2-index .section-version .feature dl dt {
    line-height: .82em;
}
.mix2-index .section-version .feature dl dt .text {
    font-size: .56em;
}
.mix2-index .section-version .feature dl:nth-child(5) dt, 
.mix2-index .section-version .feature dl:nth-child(6) dt, 
.mix2-index .section-version .feature dl:nth-child(7) dt, 
.mix2-index .section-version .feature dl:nth-child(8) dt {
    padding-top: .82em;
}
.mix2-index .section-version .feature dl dd .text {
    font-size: .28em;
}
.mix2-index .section-version .feature dl dd {
    line-height: .54em;
}

/*section-footer*/
.mix2-index .section-footer {
    height: 4.25em;
    background: none center top no-repeat;
    background-size: cover;
}
.mix2-index .section-footer.preload {
    background-image: url(../images/mix2/index-footer-bg.jpg);
}
.mix2-index .section-footer a {
    display: block;
    line-height: 4em;
    padding-bottom: .25em;
    text-indent: 15.76em;
    color: #fff;
}
.mix2-index .section-footer a .text {
    font-size: .32em;
}

.section-mp-qrcode {
    background: #fafafa;
}
.section-mp-qrcode .mp-qrcode-content {
    text-align: center;
}
.section-mp-qrcode .mp-qrcode-item {
    display: inline-block;
    float: left;
    width: 613px;
    padding: 45px 0;
    text-align: left;
}
.section-mp-qrcode .mp-qrcode-pic {
    float: left;
    display: inline;
    margin: 0 35px 0 30px;
    width: 100px;
    height: 100px;
}
.section-mp-qrcode .mp-qrcode-text {
    float: left;
    line-height: 28px;
    padding: 15px 0 0 0;
    color: #000;
    font-size: 14px;
}